*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDE
/.idea
/.vscode

# Android
/android/.gradle
/android/build
/android/app/build
/android/gradle-dist
/android/.gradle_bak

# Backend
/backend/target
/backend/uploads
/backend/backend.db

# Logs/env
*.log
.env
